{% extends 'base.html' %}
{% load bootstrap3 %} {% load staticfiles %}
{% block content %}

<!-- empty -->
<div class="col-md-3" >
</div>
<div class="col-md-6" >
  <form  action="{%url 'edit_profile_info'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn-info btn-light btn-small " value="Post">
  </form>
</div>
<!-- empty -->

<div class="col-md-3" ></div>
{% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

