{%extends "registration/base.html"%}
{% load bootstrap3 %} 
{% load staticfiles %}
{% block content %}
<head>

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endblock %}
</head>
<body>
   {% block scripts %}
 
  {% bootstrap_javascript %}
   {% endblock %}
<div class="col-md-6">
  <form  action="{%url 'uploadPhoto'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn-success btn-sm btn-info" value="Post">
  </form>
  </div>

  <!-- empty div -->
<div class="col-md-3"></div>
<!-- empry div -->

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</body>
  {% endblock %}